{% extends 'base.html' %}
{% block content %}
  Lista en el blog
  {% for post in posts %}
    <div>
      <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
    </div>
    <div>
      <a class="text-blue-500" href="{% url 'blog:update' post.id %}">Update</a>
    </div>
    <div>
      <a class="text-blue-500" href="{% url 'blog:delete' post.id %}">Delete</a>
    </div>
    <p>{{ post.content }}</p>
  {% endfor %}
  <div>
    crea un post <a class="text-blue-500" href="{% url 'blog:create' %}">aqui</a>
  </div>
{% endblock content %}